<div style="padding: 10px;">
    <div style="width: 25%; float: left; padding: 20px;">
        <hr style="border: none; height: 1px; background: rgba(0, 0, 0, 0.5);">
        <h1 style="color:#ef43cf; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bolder; ">
            Packages <br>and Pricing</h1>
        <p style="font-weight: 150; color: black; font-family:'Arial Narrow Bold', sans-serif">
            With our Pro plan, you can take<br>
            your design knowledge to the next<br>
            level faster.
        </p>
    </div>
    <div style="width: 75%; float: left; padding: 20px;">
        <div class="pricing-plans pricing-cardbody" style="margin-top: 20px; margin-left: auto; margin-right: 30px;">
            <div class="pricing-plan gradient-background-left" style="background-color:#1c1038; color: white;">
                <h2 class="price">$99</h2>
                <p>one time</p>
                <h3 class="special-list-item"><strong>Book Course</strong></h3>
                <ul>
                    <li>Access to 70+
                        exam exercises
                    </li>
                    <li>Access to our private
                        members group
                    </li>
                    <button style="background-color: #3848f1;" class="rounded-pill" type="submit">Join the
                        Course</button>
                </ul>
            </div>

            <div class="pricing-plan center gradient-background" style="background-color:#594483; color: white;">
                <h2 class="price">$499</h2>
                <p>per year</p>
                <h3 class="special-list-item"><strong>Pro</strong></h3>
                <ul class="price-card-features">
                    <li>Access to our 500+ free
                        and premium lessons
                    </li>
                    <li>Weekly live stream and
                        exclusive Q&As
                    </li>
                    <li>Access to our exclusive
                        insider group
                    </li>
                    <button style="background-color: #ef43cf;" class="rounded-pill" type="submit"> Join Pro</button>
                </ul>
            </div>

            <div class="pricing-plan gradient-background-right" style="background-color:#463b5f; color: white;">
                <h2 class="price">$19</h2>
                <p>per month</p>
                <h3 class="special-list-item"><strong>Pro Plus</strong></h3>
                <ul>
                    <li>Everything on Pro</li>
                    <li>30 minutes 1-on-1
                        mentorship with our
                        Senior Designer
                    </li>
                    <button style="background-color: #3848f1" class="rounded-pill" type="submit"> Join Pro
                        Plus</button>
                </ul>
            </div>
        </div>
    </div>
</div>
