<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">KubeSkills</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link px-3 py-2 {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}custom-active-nav{{ end }}"
          href="{{ .URL }}"
          {{ if .Params.external }}target="_blank" rel="noopener"{{ end }}>
          {{ .Name }}
          </a> 
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
