{{ define "main" }}

<!-- page wrapper start -->
<div class="page-wrapper">

  <!-- Preloader -->
  <div id="ht-preloader">
    <div class="loader clear-loader">
      <span></span>
      <p>KubeSkills.com</p>
    </div>
  </div>

  <!-- Hero Section -->
  <section>
    <div class="container">
      <div class="row justify-content-center mb-8">
        <div class="col-12 col-lg-8">
          
          <div class="text-center">
            <div class="p-5 rounded shadow-sm bg-white d-inline-block">
              <h4>Join our Newsletter</h4>
              <p class="lead text-muted">Subscribe to get Kubernetes skills straight to your inbox!</p>
              <script async data-uid="024ce68ad3" src="https://awesome-pioneer-9305.ck.page/024ce68ad3/index.js"></script>
            </div>
          </div>

          <hr style="border: 1px solid #ddd; width: 100%; margin: 40px auto;" />

          <!-- Hero Content -->
          <div class="text-center mt-4">
            <h4>We're a community of Kubernetes 
              <span class="typer text-primary" data-words="engineers,architects,developers,leaders"></span>
              <span class="cursor" data-cursordisplay="|" data-owner="some-id" style="font-size:1.2em;"></span>
            </h4>

            <h1 class="display-4 mt-3 font-w-5">The #1 Kubernetes Learning Community in the World</h1>
            <p class="lead text-muted">Join a global community of people learning Kubernetes.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="position-relative">
            <img src="/images/about/07.png" class="img-fluid" alt="...">
            <div class="video-btn video-btn-pos">
              <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=GjoZzRqOw7g"><i class="la la-play"></i></a>
              <div class="spinner-eff">
                <div class="spinner-circle circle-1"></div>
                <div class="spinner-circle circle-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section style="padding-top:10px;padding-bottom:75px;">
    <div class="container">
      <div class="row justify-content-center mb-8">
        <div class="col-12 col-lg-8 text-center">
          <a href="https://community.kubeskills.com" class="btn btn-primary" style="font-size: 18px;">Join the Community</a>
        </div>
      </div>
    </div>
  </section>

</div>
<!-- page wrapper end -->

{{ end }}
